<table>
    <tr *ngFor="let row of board">
        <td *ngFor="let cell of row" [ngStyle]="{
                'background-color': cell.color,
                'border-top': cell.row === 0 ? '5px solid black' : '2px solid black',
                'border-bottom': cell.row === 7 ? '5px solid black' : '2px solid black',
                'border-left': cell.column === 0 ? '5px solid black' : '2px solid black',
                'border-right': cell.column === 7 ? '5px solid black' : '2px solid black',
            }" (mousedown)='handleCellMouseDown(cell)' (mouseover)='handleCellMouseOver(cell)'>
            <span class="dot" *ngIf="cell.state === 'marked'">●</span>
            <span class="star" *ngIf="cell.state === 'star'">
                <svg contentScriptType="text/ecmascript" contentStyleType="text/css"
                    enable-background="new 0 0 2048 2048" height="45px" id="Layer_1" preserveAspectRatio="xMidYMid meet"
                    version="1.1" viewBox="0.0 0 1664.0 2048" width="45px" xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" zoomAndPan="magnify">
                    <path
                        d="M1664,775c0,14.667-8.667,30.667-26,48l-363,354l86,500c0.667,4.667,1,11.333,1,20c0,14-3.5,25.833-10.5,35.5  s-17.167,14.5-30.5,14.5c-12.667,0-26-4-40-12l-449-236l-449,236c-14.667,8-28,12-40,12c-14,0-24.5-4.833-31.5-14.5  S301,1711,301,1697c0-4,0.667-10.667,2-20l86-500L25,823C8.333,805,0,789,0,775c0-24.667,18.667-40,56-46l502-73l225-455  c12.667-27.333,29-41,49-41s36.333,13.667,49,41l225,455l502,73C1645.333,735,1664,750.333,1664,775z"
                        fill="yellow" stroke="black" stroke-width="80" />
                </svg>
            </span>
        </td>
    </tr>
</table>
<p>{{formatTime(seconds)}}</p>
